.company{
  &__content{
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 3rem;
    table{
      width: 100%;
      border-collapse: collapse;
      font-size: 1.1rem;
    }
    
    table tr{
      border-bottom: solid 0.7rem white;
    }
    
    table tr:last-child{
      border-bottom: none;
    }
    
    table th{
      position: relative;
      text-align: left;
      width: 30%;
      background-color: orange;
      color: white;
      text-align: center;
      padding: 10px 0;
      font-weight: bold;
    }
    
    table th:after{
      display: block;
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      top:calc(50% - 10px);
      right:-10px;
      border-left: 10px solid orange;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    
    table td{
      text-align: left;
      width: 70%;
      text-align: center;
      background-color: #eee;
      padding: 10px 0;
    }
  }
}
iframe{
  display: block;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 5rem;
  width: 100%;
  max-width: 80rem;
  height: 20rem;
}
@media screen and (max-width:639px){
  .company{
    &__content{
      padding: 0 1.5rem;
      table{
        font-size: 0.8rem;
      }
    }
  }
  iframe{
    margin-top: 1rem;
    height: 70%;
  }
}